@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    background: #086E96 ;
}

header
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header .logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background-color: white;
    color: #021B79;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #065473,transparent);
    z-index: 1000 ;

}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
section img#cloud{
    mix-blend-mode: screen ;
}
section img#front{
    z-index: 10;
}
#text{
    position: absolute;
    color: #fffc00;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    right: 540px;
    top: 300px;
   
}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px ;
    border-radius: 40px;
    background: white;
    color: #0ED2F7;
    font-size: 1.5em;
    z-index: 9; 
    transform: translateY(100px);
}
.sec1{
    position:relative ;
    padding: 100px;
    background: #065473 ;
}
.sec1 h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: white;

}
.row{
    display: grid;
    grid-template-columns: 55% auto;
}
.sec1 h1{
    font-size: 3em;
    color: white;
}

.sec1 p{
    color: white;
    padding: 0;
}

footer{
    position: relative;
    width: 100%;
    background: #043346;
    min-height: 80px;
    padding: 20px 50px;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column ;
}
footer .social_icon, .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
footer .social_icon li, .menu li{
    list-style: none;
}
footer .social_icon li a{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.7em;

}
footer hr{
    border-top: 5px solid #8c8b8b;
}